.btn, .contenedor-glitch .boton-glitch, .contenedor-print .contenedor-item .item a, .btnrojo, .contenedor-print-sale .contenedor-item .item a {
  text-align: center;
  padding: 7px;
  border: 2px solid white;
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: rgb(0, 0, 0);
  color: white;
}
.btn:hover, .contenedor-glitch .boton-glitch:hover, .contenedor-print .contenedor-item .item a:hover, .btnrojo:hover, .contenedor-print-sale .contenedor-item .item a:hover {
  background-color: rgb(71, 71, 71);
}

.btnrojo:hover, .contenedor-print-sale .contenedor-item .item a:hover {
  background-color: rgb(255, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  background: url(../img/backroundindex.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

ul, ol {
  list-style: none;
}
ul li a, ol li a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.backgalerie {
  background-color: rgba(185, 185, 185, 0.247);
}

.navbar {
  background-color: rgba(0, 0, 0, 0.829);
}
.navbar a {
  color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: white;
}

.navbar a:hover {
  color: white;
}

.dropdown-menu {
  background-color: black;
}

@media (min-width: 1200px) {
  .nav-item:hover {
    background-color: rgba(128, 128, 128, 0.575);
    border-radius: 10px;
  }
  .dropdown-item:hover {
    background-color: rgba(128, 128, 128, 0.575);
  }
}
.footer {
  background-color: rgba(0, 0, 0, 0.904);
}

.contenedor-people {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contenedor-people a {
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 1080px) {
  .contenedor-people {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 70px;
  }
}
.contenedor-people .galeria-people {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px 0px;
  justify-items: center;
  align-items: center;
  width: 90%;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .contenedor-people .galeria-people {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px 0px;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
  }
}
.contenedor-people .galeria-people div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor-people .galeria-people div a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor-people .galeria-people div a img {
  width: 85%;
}
@media screen and (min-width: 1080px) {
  .contenedor-people .galeria-people div a img {
    width: 55%;
    transition-duration: 200ms;
  }
  .contenedor-people .galeria-people div a img:hover {
    transform: scale(2.2);
    cursor: pointer;
  }
}
.contenedor-people h2 {
  font-size: 1.1rem;
  text-shadow: 5px 5px 7px black;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.863);
  border-radius: 30px;
  margin: 30px 30px 20px 30px;
  padding: 15px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .contenedor-people h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 1080px) {
  .contenedor-people h2 {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 1080px) {
  .contenedor-people h2 {
    margin-bottom: 40px;
  }
}

.contenedor-work {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0px 20px 0px;
}
@media screen and (min-width: 1260px) {
  .contenedor-work {
    margin: 50px 0px 50px 0px;
  }
}
.contenedor-work a {
  text-decoration: none;
  color: white;
}
.contenedor-work h2 {
  font-size: 1.1rem;
  text-shadow: 5px 5px 7px black;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.863);
  border-radius: 30px;
  margin: 30px 30px 20px 30px;
  padding: 15px;
  font-weight: 400;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .contenedor-work h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 1080px) {
  .contenedor-work h2 {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 1080px) {
  .contenedor-work h2 {
    margin-bottom: 30px;
  }
}
.contenedor-work .galeria-work {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px 20px 0px 20px;
}
@media screen and (min-width: 768px) {
  .contenedor-work .galeria-work {
    flex-direction: row;
    margin: 0px 30px 20px 30px;
  }
}
@media screen and (min-width: 1260px) {
  .contenedor-work .galeria-work {
    margin: 0px 60px 50px 60px;
  }
}
.contenedor-work .galeria-work .work-item {
  position: relative;
  margin: 15px;
}
.contenedor-work .galeria-work .work-item img {
  display: block;
  width: 100%;
  border-radius: 15px;
}
.contenedor-work .galeria-work .work-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
}
@media screen and (min-width: 1080px) {
  .contenedor-work .galeria-work .work-item .overlay {
    opacity: 0;
  }
  .contenedor-work .galeria-work .work-item .overlay:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.418);
    backdrop-filter: blur(3px);
  }
}
.contenedor-work .galeria-work .work-item .overlay .overlay-text {
  font-size: 1.8rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.616);
  text-shadow: 5px 5px 10px black;
}
@media screen and (min-width: 768px) {
  .contenedor-work .galeria-work .work-item .overlay .overlay-text {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1080px) {
  .contenedor-work .galeria-work .work-item .overlay .overlay-text {
    font-size: 2.5rem;
    color: white;
  }
}

.textoprincipal p {
  font-size: 10rem;
  text-shadow: 5px 5px 10px black;
  color: rgb(247, 247, 247);
}

@media (min-width: 360px) {
  .textoprincipal p {
    font-size: 3.4rem;
  }
}
@media (min-width: 500px) {
  .textoprincipal p {
    font-size: 4.5rem;
  }
}
@media (min-width: 768px) {
  .textoprincipal p {
    font-size: 7rem;
  }
}
@media (min-width: 1000px) {
  .textoprincipal p {
    font-size: 9rem;
  }
}
@media (min-width: 1200px) {
  .textoprincipal p {
    font-size: 11rem;
  }
}
@media (min-width: 1400px) {
  .textoprincipal p {
    font-size: 13rem;
  }
}
.carrouselsize {
  width: 100%;
}
@media screen and (min-width: 1080px) {
  .carrouselsize {
    width: 85%;
  }
}

.contenedor-about {
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 70px;
}
.contenedor-about h2 {
  font-size: 1.1rem;
  text-shadow: 5px 5px 7px black;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.863);
  border-radius: 30px;
  margin: 30px 30px 20px 30px;
  padding: 15px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .contenedor-about h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 1080px) {
  .contenedor-about h2 {
    font-size: 1.7rem;
  }
}
.contenedor-about .tarjeta-about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}
@media screen and (min-width: 600px) {
  .contenedor-about .tarjeta-about {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1080px) {
  .contenedor-about .tarjeta-about {
    margin: 30px;
  }
}
.contenedor-about .tarjeta-about video {
  width: 90%;
  padding: 15px;
}
@media screen and (min-width: 600px) {
  .contenedor-about .tarjeta-about video {
    width: 50%;
  }
}
@media screen and (min-width: 1080px) {
  .contenedor-about .tarjeta-about video {
    width: 30%;
  }
}
.contenedor-about .tarjeta-about p {
  background-color: rgba(0, 0, 0, 0.788);
  border-radius: 10px;
  padding: 12px;
  margin: 0;
}
@media screen and (min-width: 600px) {
  .contenedor-about .tarjeta-about p {
    height: 70%;
    padding: 20px;
  }
}
@media screen and (min-width: 1080px) {
  .contenedor-about .tarjeta-about p {
    width: 30%;
  }
}

.contenedor-exhibits {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
}
.contenedor-exhibits h2 {
  font-size: 1.1rem;
  text-shadow: 5px 5px 7px black;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.863);
  border-radius: 30px;
  margin: 30px 30px 20px 30px;
  padding: 15px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .contenedor-exhibits h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 1080px) {
  .contenedor-exhibits h2 {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 1080px) {
  .contenedor-exhibits {
    margin: 60px 20px 20px 20px;
  }
}
.contenedor-exhibits .contenedor-exhibist-tarjetas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.contenedor-exhibits .contenedor-exhibist-tarjetas .exhibits-item1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.918);
  margin-bottom: 20px;
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .contenedor-exhibits .contenedor-exhibist-tarjetas .exhibits-item1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    margin: 20px;
  }
}
.contenedor-exhibits .contenedor-exhibist-tarjetas .exhibits-item1 img {
  width: 80%;
  padding: 10px;
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .contenedor-exhibits .contenedor-exhibist-tarjetas .exhibits-item1 img {
    width: 55%;
    padding: 20px;
  }
}
@media screen and (min-width: 1260px) {
  .contenedor-exhibits .contenedor-exhibist-tarjetas .exhibits-item1 img {
    width: 50%;
    padding: 30px;
  }
}
.contenedor-exhibits .contenedor-exhibist-tarjetas .exhibits-item1 p {
  padding: 15px;
  text-align: justify;
}
.contenedor-exhibits .contenedor-exhibist-tarjetas .exhibits-item2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.918);
  margin-bottom: 20px;
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .contenedor-exhibits .contenedor-exhibist-tarjetas .exhibits-item2 {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 80px;
    margin: 20px;
  }
}
.contenedor-exhibits .contenedor-exhibist-tarjetas .exhibits-item2 img {
  width: 80%;
  padding: 10px;
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .contenedor-exhibits .contenedor-exhibist-tarjetas .exhibits-item2 img {
    width: 55%;
    padding: 20px;
  }
}
@media screen and (min-width: 1260px) {
  .contenedor-exhibits .contenedor-exhibist-tarjetas .exhibits-item2 img {
    width: 50%;
    padding: 30px;
  }
}
.contenedor-exhibits .contenedor-exhibist-tarjetas .exhibits-item2 p {
  padding: 15px;
  text-align: justify;
}
.contenedor-exhibits .contenedor-exhibist-tarjetas .exhibits-item3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.918);
  margin-bottom: 20px;
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .contenedor-exhibits .contenedor-exhibist-tarjetas .exhibits-item3 {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    margin: 20px;
  }
}
.contenedor-exhibits .contenedor-exhibist-tarjetas .exhibits-item3 img {
  width: 80%;
  padding: 10px;
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .contenedor-exhibits .contenedor-exhibist-tarjetas .exhibits-item3 img {
    width: 55%;
    padding: 20px;
  }
}
@media screen and (min-width: 1260px) {
  .contenedor-exhibits .contenedor-exhibist-tarjetas .exhibits-item3 img {
    width: 50%;
    padding: 30px;
  }
}
.contenedor-exhibits .contenedor-exhibist-tarjetas .exhibits-item3 p {
  padding: 15px;
  text-align: justify;
}
.contenedor-exhibits .contenedor-exhibist-tarjetas .exhibits-item4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.918);
  margin-bottom: 20px;
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .contenedor-exhibits .contenedor-exhibist-tarjetas .exhibits-item4 {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 80px;
    margin: 20px;
  }
}
.contenedor-exhibits .contenedor-exhibist-tarjetas .exhibits-item4 img {
  width: 80%;
  padding: 10px;
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .contenedor-exhibits .contenedor-exhibist-tarjetas .exhibits-item4 img {
    width: 55%;
    padding: 20px;
  }
}
@media screen and (min-width: 1260px) {
  .contenedor-exhibits .contenedor-exhibist-tarjetas .exhibits-item4 img {
    width: 50%;
    padding: 30px;
  }
}
.contenedor-exhibits .contenedor-exhibist-tarjetas .exhibits-item4 p {
  padding: 15px;
  text-align: justify;
}

.work-collab h2 {
  font-size: 1.1rem;
  text-shadow: 5px 5px 7px black;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.863);
  border-radius: 30px;
  margin: 30px 30px 20px 30px;
  padding: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .work-collab h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 1080px) {
  .work-collab h2 {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 1260px) {
  .work-collab h2 {
    margin-bottom: 0px;
  }
}

.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.473);
  border-radius: 50%;
}

.carousel-control-prev-icon {
  background-color: rgba(0, 0, 0, 0.473);
  border-radius: 50%;
}

.h2contact {
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.904);
  border-radius: 10px;
}

.contenedorform {
  background-color: rgba(0, 0, 0, 0.904);
  margin-bottom: 50px;
  border-radius: 10px;
}

.imgcontact {
  width: 100%;
  border-radius: 12px;
}

.contenedor-print {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 90%;
}
.contenedor-print h2 {
  font-size: 1.1rem;
  text-shadow: 5px 5px 7px black;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.863);
  border-radius: 30px;
  margin: 30px 30px 20px 30px;
  padding: 15px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .contenedor-print h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 1080px) {
  .contenedor-print h2 {
    font-size: 1.7rem;
  }
}
.contenedor-print .contenedor-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  overflow-x: scroll;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .contenedor-print .contenedor-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px 30px;
    overflow-x: none;
  }
}
@media screen and (min-width: 1080px) {
  .contenedor-print .contenedor-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
.contenedor-print .contenedor-item .item {
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  min-width: 250px;
  margin-right: 15px;
}
.contenedor-print .contenedor-item .item:hover div img {
  transform: scale(1.03);
}
@media screen and (min-width: 768px) {
  .contenedor-print .contenedor-item .item {
    min-width: 100%;
  }
}
.contenedor-print .contenedor-item .item p {
  padding-top: 15px;
}
.contenedor-print .contenedor-item .item h3 {
  padding-top: 5px;
  letter-spacing: 2px;
}
.contenedor-print .contenedor-item .item div {
  overflow: hidden;
  margin: 7px;
}
.contenedor-print .contenedor-item .item img {
  width: 100%;
  transition-duration: 400ms;
}
.contenedor-print-sale {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 90%;
}
.contenedor-print-sale h2 {
  font-size: 1.1rem;
  text-shadow: 5px 5px 7px black;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.863);
  border-radius: 30px;
  margin: 30px 30px 20px 30px;
  padding: 15px;
  font-weight: 400;
  background-color: rgb(255, 0, 0);
}
@media screen and (min-width: 768px) {
  .contenedor-print-sale h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 1080px) {
  .contenedor-print-sale h2 {
    font-size: 1.7rem;
  }
}
.contenedor-print-sale .contenedor-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .contenedor-print-sale .contenedor-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(0, 1fr);
    gap: 30px 30px;
    overflow-x: none;
  }
}
.contenedor-print-sale .contenedor-item .item {
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  min-width: 250px;
  margin-right: 15px;
}
.contenedor-print-sale .contenedor-item .item:hover div img {
  transform: scale(1.03);
}
@media screen and (min-width: 768px) {
  .contenedor-print-sale .contenedor-item .item {
    min-width: 100%;
  }
}
.contenedor-print-sale .contenedor-item .item p {
  padding-top: 15px;
}
.contenedor-print-sale .contenedor-item .item h3 {
  padding-top: 5px;
  letter-spacing: 2px;
}
.contenedor-print-sale .contenedor-item .item div {
  overflow: hidden;
  margin: 7px;
}
.contenedor-print-sale .contenedor-item .item img {
  width: 100%;
  transition-duration: 400ms;
}
.nft h2 {
  font-size: 1.1rem;
  text-shadow: 5px 5px 7px black;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.863);
  border-radius: 30px;
  margin: 30px 30px 20px 30px;
  padding: 15px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .nft h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 1080px) {
  .nft h2 {
    font-size: 1.7rem;
  }
}

.contenedor-distancia {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
@media screen and (min-width: 500px) {
  .contenedor-distancia {
    padding: 15px;
  }
}
@media screen and (min-width: 768px) {
  .contenedor-distancia {
    padding: 20px;
    margin-bottom: 50px;
  }
}
.contenedor-distancia .head-distancia {
  text-align: center;
  padding: 5px;
  background-color: rgb(0, 0, 0);
  width: 90%;
  margin: auto;
  border-radius: 20px;
  margin: 15px;
}
.contenedor-distancia .head-distancia h2 {
  text-align: center;
  padding: 20px 7px 10px 7px;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  letter-spacing: 0.8rem;
}
@media screen and (min-width: 768px) {
  .contenedor-distancia .head-distancia h2 {
    font-size: 2rem;
    padding: 20px;
  }
}
@media screen and (min-width: 1080px) {
  .contenedor-distancia .head-distancia h2 {
    font-weight: 700;
  }
}
@media screen and (min-width: 500px) {
  .contenedor-distancia .head-distancia h2 {
    letter-spacing: 1.5rem;
  }
}
@media screen and (min-width: 1080px) {
  .contenedor-distancia .head-distancia h2 {
    letter-spacing: 2.5rem;
  }
}
.contenedor-distancia .head-distancia p {
  font-size: 1rem;
  padding: 0px 15px 0px 15px;
  font-weight: 200;
}
@media screen and (min-width: 1080px) {
  .contenedor-distancia .head-distancia p {
    font-weight: 400;
  }
}
@media screen and (min-width: 500px) {
  .contenedor-distancia .galeria-distancia {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 7px 7px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .contenedor-distancia .galeria-distancia {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1080px) {
  .contenedor-distancia .galeria-distancia {
    gap: 15px 15px;
  }
}
.contenedor-distancia .galeria-distancia div {
  width: 90%;
  padding: 10px;
  margin: auto;
}
@media screen and (min-width: 500px) {
  .contenedor-distancia .galeria-distancia div {
    width: 100%;
    padding: 1px;
    margin: 0;
  }
}
@media screen and (min-width: 1080px) {
  .contenedor-distancia .galeria-distancia div:hover img {
    cursor: pointer;
    animation: fade 7s forwards;
    animation-delay: 0s;
  }
  @keyframes fade {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0.8;
    }
  }
}
.contenedor-distancia .galeria-distancia div img {
  width: 100%;
  border-radius: 7px;
}

.head-lumbre {
  text-align: center;
  padding: 5px;
  background-color: rgb(0, 0, 0);
  width: 90%;
  margin: auto;
  border-radius: 20px;
  margin: 15px;
}
.head-lumbre h2 {
  text-align: center;
  padding: 20px 7px 10px 7px;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
}
@media screen and (min-width: 768px) {
  .head-lumbre h2 {
    font-size: 2rem;
    padding: 20px;
  }
}
@media screen and (min-width: 1080px) {
  .head-lumbre h2 {
    font-weight: 700;
  }
}
.head-lumbre p {
  font-size: 1rem;
  padding: 0px 15px 0px 15px;
  font-weight: 200;
}
@media screen and (min-width: 1080px) {
  .head-lumbre p {
    font-weight: 400;
  }
}

.lumbreimg {
  width: 100%;
  border: 5px solid black;
  transition: 0.3s;
}
@media screen and (min-width: 1260px) {
  .lumbreimg:hover {
    transform: scale(1.01);
  }
}

.contenedor-portrait {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  padding: 10px;
}
@media screen and (min-width: 500px) {
  .contenedor-portrait {
    padding: 15px;
  }
}
@media screen and (min-width: 768px) {
  .contenedor-portrait {
    padding: 20px;
  }
}
.contenedor-portrait .galeria-portrait div {
  width: 90%;
  padding: 10px;
  margin: auto;
}
@media screen and (min-width: 500px) {
  .contenedor-portrait .galeria-portrait div {
    width: 100%;
    padding: 1px;
    margin: 0;
  }
}
.contenedor-portrait .galeria-portrait div img {
  width: 100%;
  border-radius: 7px;
  transition: 0.4s;
}
@media screen and (min-width: 1260px) {
  .contenedor-portrait .galeria-portrait div img:hover {
    transform: scale(1.02);
  }
}
@media screen and (min-width: 500px) {
  .contenedor-portrait .galeria-portrait {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 10px 10px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .contenedor-portrait .galeria-portrait {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
@media screen and (min-width: 1080px) {
  .contenedor-portrait .galeria-portrait {
    gap: 20px 20px;
  }
}
.contenedor-portrait .head-portrait {
  text-align: center;
  padding: 5px;
  background-color: rgb(0, 0, 0);
  width: 90%;
  margin: auto;
  border-radius: 20px;
  margin: 15px;
}
.contenedor-portrait .head-portrait h2 {
  text-align: center;
  padding: 20px 7px 10px 7px;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
}
@media screen and (min-width: 768px) {
  .contenedor-portrait .head-portrait h2 {
    font-size: 2rem;
    padding: 20px;
  }
}
@media screen and (min-width: 1080px) {
  .contenedor-portrait .head-portrait h2 {
    font-weight: 700;
  }
}
.contenedor-portrait .head-portrait p {
  font-size: 1rem;
  padding: 0px 15px 0px 15px;
  font-weight: 200;
}
@media screen and (min-width: 1080px) {
  .contenedor-portrait .head-portrait p {
    font-weight: 400;
  }
}

.contenedor-thefall {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .contenedor-thefall {
    padding: 20px;
    margin: 140px 0px 140px 0px;
  }
}
@media screen and (min-width: 1260px) {
  .contenedor-thefall {
    margin: 10px 0px 20px 0px;
  }
}
.contenedor-thefall .head-thefall {
  text-align: center;
  padding: 5px;
  background-color: rgb(0, 0, 0);
  width: 90%;
  margin: auto;
  border-radius: 20px;
  margin: 15px;
}
.contenedor-thefall .head-thefall h2 {
  text-align: center;
  padding: 20px 7px 10px 7px;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
}
@media screen and (min-width: 768px) {
  .contenedor-thefall .head-thefall h2 {
    font-size: 2rem;
    padding: 20px;
  }
}
@media screen and (min-width: 1080px) {
  .contenedor-thefall .head-thefall h2 {
    font-weight: 700;
  }
}
.contenedor-thefall .head-thefall p {
  font-size: 1rem;
  padding: 0px 15px 0px 15px;
  font-weight: 200;
}
@media screen and (min-width: 1080px) {
  .contenedor-thefall .head-thefall p {
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .contenedor-thefall .galeria-thefall {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
}
.contenedor-thefall .galeria-thefall .fall {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 10px;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .contenedor-thefall .galeria-thefall .fall {
    width: 100%;
    padding: 1px;
    margin: 0;
  }
}
.contenedor-thefall .galeria-thefall .fall img {
  width: 90%;
  border-radius: 10px;
  border: 3px solid black;
  margin: 15px;
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  .contenedor-thefall .galeria-thefall .fall img {
    margin: 30px;
    width: 85%;
  }
}
@media screen and (min-width: 1260px) {
  .contenedor-thefall .galeria-thefall .fall img:hover {
    transform: scale(1.02);
  }
}

.bwimg {
  width: 100%;
  border: 5px solid black;
  transition: 0.3s;
}
@media screen and (min-width: 1080px) {
  .bwimg {
    width: 80%;
  }
}
@media screen and (min-width: 1260px) {
  .bwimg:hover {
    transform: scale(1.02);
  }
}

.contenedor-color {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
@media screen and (min-width: 500px) {
  .contenedor-color {
    padding: 15px;
  }
}
@media screen and (min-width: 768px) {
  .contenedor-color {
    padding: 20px;
  }
}
.contenedor-color .head-color {
  text-align: center;
  padding: 5px;
  background-color: rgb(0, 0, 0);
  width: 90%;
  margin: auto;
  border-radius: 20px;
  margin: 15px;
}
.contenedor-color .head-color h2 {
  text-align: center;
  padding: 20px 7px 10px 7px;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
}
@media screen and (min-width: 768px) {
  .contenedor-color .head-color h2 {
    font-size: 2rem;
    padding: 20px;
  }
}
@media screen and (min-width: 1080px) {
  .contenedor-color .head-color h2 {
    font-weight: 700;
  }
}
.contenedor-color .head-color p {
  font-size: 1rem;
  padding: 0px 15px 0px 15px;
  font-weight: 200;
}
@media screen and (min-width: 1080px) {
  .contenedor-color .head-color p {
    font-weight: 400;
  }
}
.contenedor-color .galeria-color {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(13, 1fr);
  gap: 0px 2px;
}
@media screen and (min-width: 500px) {
  .contenedor-color .galeria-color {
    margin-top: 20px;
    gap: 20px 20px;
  }
}
@media screen and (min-width: 768px) {
  .contenedor-color .galeria-color {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
}
.contenedor-color .galeria-color div {
  width: 100%;
  padding: 10px;
  margin: auto;
}
@media screen and (min-width: 500px) {
  .contenedor-color .galeria-color div {
    width: 100%;
    padding: 1px;
    margin: 0;
  }
}
.contenedor-color .galeria-color div img {
  width: 100%;
  border-radius: 7px;
  border: 3px solid rgb(0, 0, 0);
  transition: 0.3s;
}
@media screen and (min-width: 1260px) {
  .contenedor-color .galeria-color div img:hover {
    transform: scale(1.01);
  }
}

.contenedor-glitch {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 260px 30px 260px 30px;
  background-color: rgba(0, 0, 0, 0.863);
  padding: 10px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .contenedor-glitch {
    margin: 322px 30px 322px 30px;
  }
}
@media screen and (min-width: 1080px) {
  .contenedor-glitch {
    margin: 250px 30px 250px 30px;
  }
}
@media screen and (min-width: 1080px) {
  .contenedor-glitch .boton-glitch {
    padding: 10px 30px;
    border: white solid 3px;
    font-size: 2.5rem;
  }
}

.glitch {
  font-size: 2.3rem;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  color: rgb(245, 245, 245);
  animation: glitch 500ms infinite;
  margin: 0px 0px 0px 0px;
  text-align: center;
}
@media screen and (min-width: 500px) {
  .glitch {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 768px) {
  .glitch {
    font-size: 5.5rem;
  }
}
@media screen and (min-width: 1080px) {
  .glitch {
    font-size: 7.5rem;
  }
}
@media screen and (min-width: 1260px) {
  .glitch {
    font-size: 10rem;
  }
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 70%, 100% 20%, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  opacity: 0.8;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  opacity: 0.8;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

/*# sourceMappingURL=style.css.map */
