.contenedor-about {
    padding: 14px;
    @include flexcenter;
    flex-direction: column;

    h2 {
        @include h2;
    }

    .tarjeta-about {
        @include flexcenter;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;

        @include especial600 {
            display: flex;
            flex-direction: row;
        }

        video {
            width: 90%;
            padding: 15px;

            @include especial600 {
                width: 50%;
            }

            @include desktop {
                width: 30%;
            }
        }

        p {
            background-color: rgba(0, 0, 0, 0.788);
            border-radius: 10px;

            @include especial600 {
                height: 70%;
                padding: 20px;
            }

            @include desktop {
                width: 40%;
            }
        }
    }
}


.contenedor-exhibits {
    @include flexcenter;
    flex-direction: column;

    h2 {
        @include h2;
    }

    .contenedor-exhibist-tarjetas {
        @include flexcenter;
        flex-direction: column;
        padding: 10px;

        .exhibits-item1 {
            @include flexcenter;
            flex-direction: column;
            background-color: $color-back;
            margin-bottom: 20px;
            border-radius: 20px;

            @include tablet {
                display: flex;
                flex-direction: row;
                margin-bottom: 80px;
                margin: 20px;
            }

            img {
                width: 80%;
                padding: 10px;
                padding-top: 20px;

                @include tablet {
                    width: 55%;
                    padding: 20px;
                }

                @include wide {
                    width: 50%;
                    padding: 30px;
                }
            }

            p {
                padding: 15px;
                text-align: justify;
            }
        }

        .exhibits-item2 {
            @include flexcenter;
            flex-direction: column;
            background-color: $color-back;
            margin-bottom: 20px;
            border-radius: 20px;

            @include tablet {
                display: flex;
                flex-direction: row-reverse;
                margin-bottom: 80px;
                margin: 20px;
            }

            img {
                width: 80%;
                padding: 10px;
                padding-top: 20px;

                @include tablet {
                    width: 55%;
                    padding: 20px;
                }

                @include wide {
                    width: 50%;
                    padding: 30px;
                }
            }

            p {
                padding: 15px;
                text-align: justify;
            }
        }

        .exhibits-item3 {
            @include flexcenter;
            flex-direction: column;
            background-color: $color-back;
            margin-bottom: 20px;
            border-radius: 20px;

            @include tablet {
                display: flex;
                flex-direction: row;
                margin-bottom: 80px;
                margin: 20px;
            }

            img {
                width: 80%;
                padding: 10px;
                padding-top: 20px;

                @include tablet {
                    width: 55%;
                    padding: 20px;
                }

                @include wide {
                    width: 50%;
                    padding: 30px;
                }
            }

            p {
                padding: 15px;
                text-align: justify;
            }
        }

        .exhibits-item4 {
            @include flexcenter;
            flex-direction: column;
            background-color: $color-back;
            margin-bottom: 20px;
            border-radius: 20px;

            @include tablet {
                display: flex;
                flex-direction: row-reverse;
                margin-bottom: 80px;
                margin: 20px;
            }

            img {
                width: 80%;
                padding: 10px;
                padding-top: 20px;

                @include tablet {
                    width: 55%;
                    padding: 20px;
                }

                @include wide {
                    width: 50%;
                    padding: 30px;
                }
            }

            p {
                padding: 15px;
                text-align: justify;
            }
        }
    }

}