.h2contact{
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.904);
    border-radius: 10px;
}

.contenedorform{
    background-color: rgba(0, 0, 0, 0.904);
    margin-bottom: 50px;
    border-radius: 10px;
}

.imgcontact{
    width: 100%;
}