.contenedor-portrait {
    @include flexcenter;
    flex-direction: column;
    align-content: center;
    padding: 10px;

    @include especial500 {
        padding: 15px;
    }

    @include tablet {
        padding: 20px;
    }

    .galeria-portrait {
        div {
            width: 90%;
            padding: 10px;
            margin: auto;

            @include especial500 {
                width: 100%;
                padding: 1px;
                margin: 0;
            }

            img {
                width: 100%;
                border-radius: 7px;
                transition: 0.4s;

                @include wide {
                    &:hover {
                        transform: scale(1.02);
                    }
                }
            }
        }

        @include especial500 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(9, 1fr);
            gap: 10px 10px;
            margin-top: 20px;
        }

        @include tablet {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(6, 1fr);
        }

        @include desktop {
            gap: 20px 20px;
        }
    }

    .head-portrait {
        @include headgalerias;

        h2 {
            @include h2-galerias;
        }

        p {
            @include p-galerias;
        }
    }
}