.contenedor-distancia{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding:10px;
    .head-distancia{
        text-align: center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.616);
    width: 90%;
    margin: auto;
    h2{
        padding: 7px;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1rem;
    }
    p{
        font-size: 1rem;
        font-weight: 200;
    }
}
.galeria-distancia{
    div{
        width: 90%;
        padding: 10px;
        margin: auto;
    img{
        width: 100%;
        border-radius: 7px;
    }
    }
}
}


@media (min-width:500px){
    .contenedor-distancia .galeria-distancia{
        display: grid; 
        grid-template-columns: repeat(2,1fr); 
        grid-template-rows: repeat(4,1fr); 
        gap: 0px 4.5px;
    }
    .contenedor-distancia{
        padding: 15px;
        .galeria-distancia{
            display: grid; 
        grid-template-columns: repeat(2,1fr); 
        grid-template-rows: repeat(4,1fr); 
        gap: 7px 7px;
        margin-top: 20px;
        div{
            width: 100%;
        padding: 1px;
        margin: 0;
        }
    }
    .head-distancia{
        h2{
            letter-spacing: 2rem;
        }
    }
    }
}

@media (min-width:768px){
    .contenedor-distancia{
        padding: 20px;
        .galeria-distancia{
            display: grid; 
        grid-template-columns: repeat(4,1fr); 
        grid-template-rows: repeat(2,1fr); 
        }
        .head-distancia{
            padding: 20px;
            h2{
                font-size: 2rem;
            }
        }
    }
}

@media (min-width:1200px){
    .contenedor-distancia .head-distancia h2{
        .head-distancia{
            h2{
                padding-bottom: 20px;
            }
        }
    }
    .contenedor-distancia{
        .galeria-distancia{
            gap: 12px 12px;
        }
    }
}