.bwimg {
    width: 100%;
    border: 5px solid black;
    transition: 0.3s;

    @include desktop {
        width: 80%;
    }

    @include wide {
        &:hover {
            transform: scale(1.02);
        }
    }
}