.contenedor-distancia {
    @include flexcenter;
    flex-direction: column;
    padding: 10px;

    @include especial500 {
        padding: 15px;
    }

    @include tablet {
        padding: 20px;
        margin-bottom: 50px;
    }

    .head-distancia {
        @include headgalerias;

        h2 {
            @include h2-galerias;
            letter-spacing: 0.8rem;

            @include especial500 {
                letter-spacing: 1.5rem;
            }

            @include desktop {
                letter-spacing: 2.5rem;
            }
        }

        p {
            @include p-galerias;
        }
    }

    .galeria-distancia {
        @include especial500 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
            gap: 7px 7px;
            margin-top: 20px;
        }

        @include tablet {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        @include desktop {
            gap: 15px 15px;
        }

        div {
            width: 90%;
            padding: 10px;
            margin: auto;

            @include especial500 {
                width: 100%;
                padding: 1px;
                margin: 0;
            }

            @include desktop {
                &:hover img{
                    cursor: pointer;
                    animation: fade 7s forwards;
                    animation-delay: 0s;

                    @keyframes fade {
                        0% {
                            transform: scale(1.0);
                            opacity: 1.0;
                        }

                        100% {
                            transform: scale(0);
                            opacity: 0.8;
                        }
                    }
                }
            }

            img {
                width: 100%;
                border-radius: 7px;
            }
        }
    }
}