.head-lumbre {
    @include headgalerias;

    h2 {
        @include h2-galerias;
    }

    p {
        @include p-galerias;
    }
}

.lumbreimg {
    width: 100%;
    border: 5px solid black;
    transition: 0.3s;

    @include wide {
        &:hover {
            transform: scale(1.01);
        }
    }
}