/* ----------index---------- */

.contenedor-video{
    width: 90%;
    margin: auto;
}

.contenedor-video div video{
    width: 100%;
    padding-top: 5px;
}

.contenedor-video div p{
    display: none;
}
.contenedor-video div{
    margin-top: 10px;
    margin-bottom: 10px;

}

.contenedor-people{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-people h2{
    font-size: 1rem;
    text-shadow: 5px 5px 7px black;
    margin-bottom: 10px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.863);
    border-radius: 30px;
    margin: 30px;
}

.contenedor-people .galeria-people{
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(5,1fr); 
    gap: 5px 0px;
    justify-items: center;
    align-items: center;
    width: 90%;
    padding-bottom: 20px;
}

.contenedor-people .galeria-people div img{
    width: 40%;
}

.contenedor-people .galeria-people div{
    display: flex;
    justify-content: center;
}

@media (min-width:768px){
    .contenedor-people .galeria-people{
        display: grid; 
        grid-template-columns: repeat(6, 1fr); 
        grid-template-rows: repeat(4,1fr); 
        gap: 5px 0px;
        justify-items: center;
        align-items: center;
        width: 100%;
    }
    .contenedor-people h2{
        font-size: 1.3rem;
    }
}

@media (min-width:1200px){
    .contenedor-video{
        width: 100%;
    }
    .contenedor-video div p{
        display: inline-block;
    }

    .contenedor-video div{
        display: grid; 
            grid-template-columns: 2.5fr 1fr; 
            grid-template-rows: 1fr; 
            gap: 0px 0px; 
            grid-template-areas: 
            "video p"; 
            align-items: center;
    }
    .contenedor-video div p{
        grid-area: p;
        margin: auto;
        text-align: center;
        font-size: 4.5rem;
        font-weight: 600;
        text-shadow: 5px 5px 10px black;
        letter-spacing: 4px;
    }
    .contenedor-video div video{
        grid-area: video;
        margin: auto;
        padding: 20px;
        width: 90%;
    }
    .contenedor-people h2{
        font-size: 1.7rem;
    }
    .contenedor-people .galeria-people div img{
        width: 30%;
    }
    .contenedor-people .galeria-people div img:hover{
        transform: scale(2.7);
    }
    
    .contenedor-people .galeria-people div img{
        transition-duration: 300ms;
    }
}