.contenedor-color{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding:10px;
}
.contenedor-color .head-color{
    text-align: center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.616);
    width: 90%;
    margin: auto;
}

.contenedor-color .galeria-color{
    display: grid; 
    grid-template-columns: repeat(2,1fr); 
    grid-template-rows: repeat(13,1fr); 
    gap: 0px 4.5px;
}

.contenedor-color .head-color h2{
    padding-bottom: 20px;
    font-size: 1.3rem;
    font-weight: 500;
}

.contenedor-color .head-color p{
    font-size: 1rem;
    font-weight: 200;
}

.contenedor-color .galeria-color div{
    width: 90%;
    padding: 10px;
    margin: auto;
}

.contenedor-color .galeria-color div img{
    width: 100%;
}

@media (min-width:500px){
    .contenedor-color{
        padding: 15px;
    }
    .contenedor-color .galeria-color{
        margin-top: 20px;
    }
    .contenedor-color .galeria-color div{
        width: 100%;
        padding: 1px;
        margin: 0;
    }
}

@media (min-width:768px){
    .contenedor-color .galeria-color{
        display: grid; 
        grid-template-columns: repeat(4,1fr); 
        grid-template-rows: repeat(7,1fr); 
    }
    .contenedor-color{
        padding: 20px;
    }
    .contenedor-color .head-color h2{
        padding-bottom: 20px;
        font-size: 2rem;
    }
    .contenedor-color .head-color{
        padding: 20px;
    }
}

@media (min-width:1200px){
    .contenedor-color .head-color h2{
        padding-bottom: 20px;
    }
}