.navbar{
    background-color: rgba(0, 0, 0, 0.829);
}
.navbar a{
    color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: white;
}

.navbar a:hover{
    color: white;
}

.dropdown-menu{
    background-color: black;
}

@media (min-width:1200px){
.nav-item:hover{
    background-color: rgba(128, 128, 128, 0.575);
    border-radius: 10px;
}

.dropdown-item:hover{
    background-color: rgba(128, 128, 128, 0.575);
}
}



