
body{
    background: url(../img/backroundindex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

ul, ol{
    list-style: none;
    li{
    a{
        text-decoration: none;
    }
    }
}

a{
    text-decoration: none;
}

.backgalerie{
    background-color: rgba(185, 185, 185, 0.247);
}