
.btn {
    text-align: center;
    padding: 7px;
    border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: $color-back;
    color: $color-principal;

    &:hover {
        background-color: rgb(71, 71, 71);
    }
}

.btnrojo{
    @extend .btn;
        &:hover {
            background-color: rgb(255, 0, 0);
        }
}
